	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/07/2019 04:58
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.f48c428e01f3.eot");
  src: url("./Flaticon.f48c428e01f3.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.9708c84e1806.woff2") format("woff2"),
       url("./Flaticon.5e044c64b5f9.woff") format("woff"),
       url("./Flaticon.876ba5dbaa5e.ttf") format("truetype"),
       url("./Flaticon.5c6f6fa77c80.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.5c6f6fa77c80.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-left-arrow:before { content: "\f100"; }
.flaticon-right-arrow:before { content: "\f101"; }
.flaticon-play-button:before { content: "\f102"; }