
.head{
	display: flex;
	flex-direction: column;
	margin-top: 5vw;
	padding: 10%;
	width: 80vw;
	height: 25vw;
	justify-content: center;
	font-size: 16px;
}

.head h1{
	font-size: 1.2em;
}

.head h5{
	font-size: 0.7em;
}

.head button{
	font-size: 0.7em;
}


@media screen and (min-width: 540px){
	.head h1{
		font-size: 3rem;
	}

	.head h5{
		font-size: 1.5rem;
	}

	.head button{
		font-size: 1rem;
	}
}