.addbg{
	background: linear-gradient(to right, rgba(0, 150, 109, 0.9),  
                  rgba( 0, 96, 69, 0.8),
                  rgba( 71, 100, 92, 0.8));
  color: #000000 !important;
  display: block;
}

.colored{
	color: #C6894A !important;
	font-weight: 800;
}

.hovr:hover{
	color: #C6894A !important;
}

.sign{
	background: #4aa;
	margin-top: 5px;
	padding: 5px;
	border-radius: 15px;
}

.sign:hover{
	color: #0e0 !important;
}